<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/project">Project</a>
        </li>
        <li>
            <a href="/tareas">Tareas</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/create_task">Crear tarea</a>
        </li>
    </ul>
    </nav>
    {% block contet %}
    {% endblock %}
</body>
</html>